
.store-footer {
  @apply relative
  mt-8 sm:mt-16;
    //  bg-darker text-white 


  a{
    @apply transition-opacity hover:opacity-75;
  }

  &__inner{
    @apply   py-8 lg:py-16 border-b  footer-bg-gr dynamic-text-color  ;
  }  

  h3{
    @apply text-lg font-bold mb-3 lg:mb-5 text-[var(--color-primary)];
  }

  .social-link {
    @apply border rounded-full w-8 h-8 justify-center flex items-center hover:opacity-75 transition duration-300 text-sm
  }

  .contact-social{
    @apply mt-5 pt-5 border-t border-white/10;

    ul {
      @apply mb-0;
    }
  }
  .footer-bg-gr{
    @apply bg-gradient-to-br  
      from-[var(--color-light-box-background)] 
      via-[var(--color-primary-5)] 
      to-[var(--color-light-page-background)]

      dark:from-[var(--color-dark-box-background)] 
      dark:to-[var(--color-dark-page-background)];
  }

  .footer-is-light & {
   // @apply bg-gray-50 text-gray-700;

    .store-footer__inner {
      
      @apply border-t border-8 border-solid border-[var(--color-primary-20)];
     // @apply bg-gray-100 border-b-gray-200;

    //  @apply bg-gradient-to-br  
    //   from-[var(--color-light-box-background)] 
    //   via-[var(--color-primary-5)] 
    //   to-[var(--color-light-page-background)];
    }

    .social-link {
      @apply border-gray-300;
    }

    .contact-social{
      @apply border-gray-100;
    }
  }
}


.copyright-text p{
  @apply text-gray-700;
}