@font-face {
  font-family: 'Alshohadaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.lamsaweb.com/cdnVolt/fonts/alshohadaa.ttf') format('truetype');
}

.font-alshohadaa {
  font-family: 'Alshohadaa', sans-serif;
}
